{% for exercise in exercises %}
    <div class="row response-row">
        <div class="col-sm-12" onclick="showExercises('{{ exercise.getExerciseId() }}')">
            <a class="h5 response-collapse-link pointer" data-toggle="collapse" data-target="#main{{exercise.getExerciseId()}}">
                <span class="fa fa-chevron-down rotate" aria-hidden="true"></span><span>{{exercise.getTitle()}}</span>
            </a>
        </div>
        <div id="main{{exercise.getExerciseId()}}" class="col-xs-offset-1 col-sm-11" hidden>
            {{ include('exercise/import/importExercises.php.twig') }}
        </div>
    </div>
{% endfor %}