<p class="lead" xmlns="http://www.w3.org/1999/html">{%trans%}import-lti-context-exercises.addexercisesremository{%endtrans%}</p>
{% for key, array in tags %}
    {% for  tag in array %}
<label class="tagsLabel">{{tag}} <a onclick="deleteTag('{{tag}}')"> x</a></label>
    {% endfor %}
{% endfor %}
<form id="importExercisesForm" class="form" action="actions/ImportExercisesQuestion.php" method="post">
    <div class="list-group">
        {% if not exercisesForImport %}
            Can't connect with the repository
        {% endif %}
        <!-- Exercise Map -->
        {% for exercise in exercisesForImport %}
        <div class="list-group-item response-list-group-item test-list">
            <div class="row">
                <div class="col-sm-12 header-col pt-0" >
                    <div class="pb-2 flex items-center">
                        <a data-toggle="collapse" class="h4 response-collapse-link pointer flex-grow" data-target="#site{{ exercise.exercise_id }}" onclick="showExercises('{{ exercise.getExerciseId() }}')">
                            <span>
                                {{ exercise.title }}
                            </span>
                            <label class="descriptions pointer"></label>
                        </a>
                        <span class="fa fa-chevron-down rotate" aria-hidden="true"></span>
                    </div>
                    <div class="row response-exercise-row">
                        <div id="main{{exercise.getExerciseId()}}" class="ml-10" hidden>
                            {{ include('exercise/import/importExercises.php.twig') }}
                        </div>
                    </div>
                </div>
                <div id="site{{ exercise.exercise_id }}" class="col-xs-12 results-collapse collapse">
                </div>
            </div>
        </div>
        {% set siteCount = siteCount + 1 %}
        {%endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {%if tags%}
                    {% if page >= 4 %}
                <li class="page-item"><a href="javascript:void(0);" onclick="importLtiContextsPage(0, 'exercise');" class="page-link">{%trans%}import-lti-context-exercises.first{%endtrans%}</a></li>
                    {%endif%}
                    {%for i in page-3..page+3 %}
                        {%if i>=0 and i< totalPages %}
                            {%if page==i %}
                <li class="page-item"><a  class="page-link" >{{i+1}}</a></li>
                            {%else%}
                <li class="page-item"><a href="javascript:void(0);" onclick="importLtiContextsPage({{i}}, 'exercise');" class="page-link">{{i+1}}</a></li>
                            {% endif %}

                        {%endif%}
                    {%endfor%}
                    {% if page < totalPages-4 and page !=null%}
                <li class="page-item"><a href="javascript:void(0);" onclick="importLtiContextsPage({{totalPages-1}}, 'exercise');" class="page-link">{%trans%}import-lti-context-exercises.last{%endtrans%}</a></li>
                    {%endif%}
                {%else%}
                    {% if page >= 4 %}
                <li class="page-item"><a href="javascript:void(0);" onclick="importLtiContexts(0, 'exercise');" class="page-link">{%trans%}import-lti-context-exercises.first{%endtrans%}</a></li>
                    {%endif%}
                    {%for i in page-3..page+3 %}
                        {%if i>=0 and i< totalPages %}
                            {%if page==i %}
                <li class="page-item"><a  class="page-link" >{{i+1}}</a></li>
                            {%else%}
                <li class="page-item"><a href="javascript:void(0);" onclick="importLtiContexts({{i}}, 'exercise');" class="page-link">{{i+1}}</a></li>
                            {% endif %}
                        {%endif%}
                    {%endfor%}
                    {% if page < totalPages-4 and page !=null%}
                <li class="page-item"><a href="javascript:void(0);" onclick="importLtiContexts({{totalPages-1}}, 'exercise');" class="page-link">{%trans%}import-lti-context-exercises.last{%endtrans%}</a></li>
                    {%endif%}
                {%endif%}
            </ul>
        </nav>
    </div>
</form>
