{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle('pages-title.feedback.by.question'|trans, true, false) }}
{% endblock %}
{% block content %}
<section id="questionResponses">
    <div class="panel panel-info">
        <div class="panel-heading response-panel-header">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="results-table-hdr">{%trans%}feedback-table.question{%endtrans%}</h4>
                </div>
                <div class="col-xs-3 text-center">
                </div>
                <div class="col-xs-3 text-center">
                    <h4 class="results-table-hdr">{%trans%}feedback-table.completed{%endtrans%}</h4>
                </div>
            </div>
        </div>
        <div class="list-group">
            {% for question in questions %}
            {% set questionId = question.getQuestionId() %}
            <div class="list-group-item response-list-group-item">
                <div class="row">
                    <div class="col-sm-3 header-col">
                        <a class="h4 response-collapse-link" data-toggle="collapse" data-target="#responses{{ questionId }}" >
                            {%trans%}feedback-table.question{%endtrans%} {{ question.getQuestionNum() }}
                            <span class="fa fa-chevron-down rotate" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-sm-offset-1 col-sm-8 header-col">
                        <div class="flx-cntnr flx-row flx-nowrap flx-start">
                            {% autoescape false %}
                            <span class="flx-grow-all">{{ question.getTitle() }}</span>
                            {% endautoescape %}
                        </div>
                    </div>
                    {% set value = false %}
                    <div id="responses{{ questionId }}" class="col-xs-12 results-collapse collapse"> 
                        {% for student in students %}
                        {%for feedback in feedbacks %}
                        {% if feedback.user.getUserId() == student.user.getUserId() and feedback.getIdQuestion() == question.getQuestionId()%}

                        {% set value = true %}
                        <div class="row response-row">
                            <div class="col-sm-5">
                                <h4 class="small-hdr hdr-notop-mrgn">
                                     <small>{{ feedback.user.getDisplayname() }}  </small>
                                </h4>
                                <div>{%trans%}feedback-table.understand{%endtrans%} {{ feedback.getUnderstandabilityScore() }}</div>
                                <div>{%trans%}feedback-table.time{%endtrans%} {{ feedback.getTimeScore() }}</div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-5">
                                </br>
                                <div>{%trans%}feedback-table.difficulty{%endtrans%} {{ feedback.getDifficultyScore() }}</div>
                            </div>
                            <div class="col-sm-1">
                                </br>
                                <span aria-hidden="true" class="fas fa-thumbs-{{answer.getAnswerSuccess() ? 'up' : 'down'}} text-success"></span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% if value != 1 %}
                        <div class="row response-row">
                            <div class="col-sm-12">
                                {%trans%}feedback-table.no.feedback{%endtrans%}
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</div>
{% endblock %}
