<label
    {% if labelClass is defined %}class="ct-input-code {{labelClass}}"{% else %}class="ct-input-code"{% endif %}
    {% if labelFor is defined %}for="{{labelFor}}"{% endif %}
    
>
    {% block text %}
        <div
        {% if dataToggle is defined %}data-toggle="{{dataToggle}}"{% endif %}
        {% if href is defined %}href="{{href}}" role="button"{% endif %}
        {% if role is defined %}role="{{role}}"{% endif %}
        {% if ariaExpanded is defined %}aria-expanded="{{ariaExpanded}}"{% endif %}
        {% if ariaControls is defined %}aria-controls="{{ariaControls}}"{% endif %}>
        {{label}}<span class="requiredElement">{{ required is defined ? ' *' : '' }}</span>
        </div>
    {% endblock %}
    {% block input %}
        <textarea
            wrap="off"
            rows="{{rows|default('2')}}"
            placeholder="{{placeholder|default(label)}}"
            {% if label is defined %}
                title="{{label}}"
            {% endif %}
            {% if id is defined %}
                id="{{id}}"
            {% endif %}
            {% if inputClass is defined %}
                class="{{inputClass}}"
            {% endif %}
            {% if name is defined %}
                name="{{name}}"
            {% endif %}
        >{{value}}</textarea>
    {% endblock %}
</label>
