<label
    {% if labelClass is defined %}class="ct-input-code {{labelClass}}"{% else %}class="ct-input-code"{% endif %}
    {% if labelFor is defined %}for="{{labelFor}}"{% endif %}
>
    {% block text %}
        <div>{{label}}</div>
    {% endblock %}
    {% block input %}
        <textarea
            wrap="off"
            rows="{{rows|default('2')}}"
            placeholder="{{placeholder|default(label)}}"
            {% if label is defined %}
                title="{{label}}"
            {% endif %}
            {% if id is defined %}
                id="{{id}}"
            {% endif %}
            {% if inputClass is defined %}
                class="{{inputClass}}"
            {% endif %}
            {% if name is defined %}
                name="{{name}}"
            {% endif %}
        >{{value}}</textarea>
    {% endblock %}
</label>
