
{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle(main.getTitle(), true, false) }}
{% endblock %}
{% block content %}

{% if exerciseNum == null %}
{% set exerciseNum = 1 %}
{% endif %}
{% if exercises|length > 0 %}
<div id="navExercises">
    <p>{%trans%}student-home.exercises.list{%endtrans%}</p>
        <ol>
            {% for i in 0..exercises|length -1 %}
            <li>
                <a href="student-home.php?exerciseNum={{ i+1 }}">
                    {% set answer = user.getAnswerForExercise(exercises[i].getExerciseId(), exercises[i].getCtId()) %}
                    <div class="navExercise">
                        {{ i+1 }} <span id="listIcon{{exercises[i].getExerciseId()}}" aria-hidden="true" class="fas fa-thumbs-{{answer.getAnswerSuccess() ? 'up' : 'down'}} text-success"></span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ol>
</div>
<div style="clear: both"></div>
    {% set exercise = exercises[exerciseNum-1].getExerciseByType() %}
            {% set exerciseId = exercise.getExerciseId() %}
            {% set answer = user.getAnswerForExercise(exerciseId, exercise.getCtId()) %}
            {{ include('exercise/studentExercise.php.twig') }}
            {% if not answer %}
               {{ include('exercise/usageModal.php.twig') }}
            {% endif %}
{% else %}
        <p class="lead">{%trans%}student-home.lead{%endtrans%}</p>
{% endif %}
{% endblock %}
