{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle('pages-title.usage.by.student'|trans, true, false) }}
{% endblock %}
{% block content %}
<section id="studentResponses">
    <div class="panel panel-info">
        <div class="panel-heading response-panel-header">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="results-table-hdr">{%trans%}usage-table.student-name{%endtrans%}</h4>
                </div>
                <div class="col-xs-3 text-center">
                </div>
                <div class="col-xs-3 text-center">
                    <h4 class="results-table-hdr"></h4>
                </div>
            </div>
        </div>
        <div class="list-group">
            {% for student in students %}
            {% if not student.isInstructor %}
            <div class="list-group-item response-list-group-item">
                <div class="row">
                    <div class="col-xs-6 header-col">
                        <a href="#responses{{ student.user.getUserId() }}" class="h4 response-collapse-link" data-toggle="collapse">
                            {{ student.user.getDisplayname() }}
                            <span class="fa fa-chevron-down rotate" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-xs-3 text-center header-col">
                    </div>
                    <div class="col-xs-3 text-center header-col">
                    </div>
                    {% set value = false %}
                    <div id="responses{{ student.user.getUserId() }}" class="col-xs-12 results-collapse collapse">
                        {% for question in questions %}
                        {%for usage in usages %}
                        {% if usage.user.getUserId() == student.user.getUserId() and usage.getIdQuestion() == question.getQuestionId()%}
                        
                         {% set value = true %}
                        <div class="row response-row">
                            <div class="col-sm-5">
                                <h4 class="small-hdr hdr-notop-mrgn">
                                    <small>{{ question.getTitle() }}</small>
                                </h4>
                                <div>{%trans%}usage-table.understand{%endtrans%} {{ usage.getUnderstandabilityScore() }}</div>
                                <div>{%trans%}usage-table.time{%endtrans%} {{ usage.getTimeScore() }}</div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-5">
                                </br> 
                                <div>{%trans%}usage-table.difficulty{%endtrans%} {{ usage.getDifficultyScore() }}</div>
                            </div>
                            <div class="col-sm-1">
                                </br>
                                <span aria-hidden="true" class="fas fa-thumbs-{{answer.getAnswerSuccess() ? 'up' : 'down'}} text-success"></span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% if value != 1 %}
                        <div class="row response-row">
                            <div class="col-sm-12">
                                {%trans%}usage-table.no.usage{%endtrans%}
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
</div>
{% endblock %}
