{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle('pages-title.usage.by.exercise'|trans, true, false) }}
{% endblock %}
{% block content %}
<div class="usage-exercise-page">
<section id="exerciseResponses">
    <div class="panel panel-info">
        <div class="panel-heading response-panel-header">
            <div class="row">
                <div class="col-xs-6">
                    <h4 class="results-table-hdr">{%trans%}usage-table.exercise{%endtrans%}</h4>
                </div>
                <div class="col-xs-3 text-center">
                </div>
                <div class="col-xs-3 text-center">
                    <h4 class="results-table-hdr">{%trans%}usage-table.completed{%endtrans%}</h4>
                </div>
            </div>
        </div>
        <div class="list-group">
            {% for exercise in exercises %}
            {% set exerciseId = exercise.getExerciseId() %}
            <div class="list-group-item response-list-group-item">
                <div class="row">
                    <div class="col-sm-3 header-col">
                        <a class="h4 response-collapse-link" data-toggle="collapse" data-target="#responses{{ exerciseId }}" >
                            {%trans%}usage-table.exercise{%endtrans%} {{ exercise.getExerciseNum() }}
                            <span class="fa fa-chevron-down rotate" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-sm-offset-1 col-sm-8 header-col">
                        <div class="flx-cntnr flx-row flx-nowrap flx-start">
                            {% autoescape false %}
                            <span class="flx-grow-all">{{ exercise.getTitle() }}</span>
                            {% endautoescape %}
                        </div>                        
                    </div>
                    {% set value = false %}
                    <div id="responses{{ exerciseId }}" class="col-xs-12 results-collapse collapse"> 
                        {% for student in students %}
                        {% for usage in usages %}
                        {% if usage.user.getUserId() == student.user.getUserId() and usage.getIdExercise() == exercise.getExerciseId()%}
                        {% set value = true %}                        
                        <div class="row response-row">
                            <div class="row col-xs-12 mt-2" style="padding-right: 0px;">
                                <div class="col-xs-12 d-flex" style="padding-right: 0px;">
                                      <div class="col-xs-9 d-flex justify-self-start" style="padding-left: 0px;"> 
                                       <div> {{ usage.user.getDisplayname() }}</div> 
                                      </div>                                
                                    <div  class="col-xs-3 d-flex justify-end gap-4" style="padding-right: 0px;">
                                        <p class="italic">{{ usage.getDate() }}</p>
                                        <span aria-hidden="true" class="{{answer.getAnswerSuccess() ? 'fa fa-check-circle-o' : 'fa fa-times-circle-o'}} text-success self-center"></span>
                                    </div>  
                                </div>                                                                                        
                            </div>                   
                            <div class="row col-xs-12 d-flex justify-center mb-1 mt-1">     
                                    <div class="col-xs-4 d-flex self-center justify-center text-sm italic"><div>{%trans%}usage-table.understand{%endtrans%}</div> </div>
                                    <div class="col-xs-4 d-flex self-center justify-center text-sm italic">{%trans%}usage-table.time{%endtrans%}</div>
                                    <div class="col-xs-4 d-flex self-center justify-center text-sm italic">{%trans%}usage-table.difficulty{%endtrans%}</div>
                            </div>
                            <div class="row col-xs-12 d-flex mb-2">     
                                    {% set understandabilityValue = usage.getUnderstandabilityScore() %}                        
                                        {% if understandabilityValue == 1 %}    
                                             <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getUnderstandabilityScore()}}/5</div>
                                            </div>
                                        {% elseif understandabilityValue == 2 %}
                                             <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getUnderstandabilityScore()}}/5</div>
                                            </div>
                                        {% elseif understandabilityValue == 3 %}
                                             <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getUnderstandabilityScore()}}/5</div>
                                            </div>
                                        {% elseif understandabilityValue == 4 %}
                                             <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getUnderstandabilityScore()}}/5</div>
                                            </div>
                                         {% elseif understandabilityValue == 5 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getUnderstandabilityScore()}}/5</div>
                                            </div>
                                        {% else %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getUnderstandabilityScore()}}/5</div>
                                            </div>
                                    {% endif %}
                                    {% set timeScoreValue = usage.getTimeScore() %}                              
                                        {% if timeScoreValue == 1 %}    
                                             <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getTimeScore()}}/5</div>
                                            </div>
                                        {% elseif timeScoreValue == 2 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getTimeScore()}}/5</div>
                                            </div>
                                        {% elseif timeScoreValue == 3 %}
                                           <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getTimeScore()}}/5</div>
                                            </div>
                                        {% elseif timeScoreValue == 4 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getTimeScore()}}/5</div>
                                            </div>
                                         {% elseif timeScoreValue == 5 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                </div>
                                                <div  style="margin-left: 2rem;">{{usage.getTimeScore()}}/5</div>
                                            </div>
                                        {% else %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getTimeScore()}}/5</div>
                                            </div>
                                    {% endif %}                               
                                    {% set difficultyValue = usage.getDifficultyScore() %}                            
                                        {% if difficultyValue == 1 %}    
                                           <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getDifficultyScore()}}/5</div>
                                            </div>
                                        {% elseif difficultyValue == 2 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getDifficultyScore()}}/5</div>
                                            </div>
                                        {% elseif difficultyValue == 3 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getDifficultyScore()}}/5</div>
                                            </div>
                                        {% elseif difficultyValue == 4 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getDifficultyScore()}}/5</div>
                                            </div>
                                         {% elseif difficultyValue == 5 %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                    <i style="color: #fd4;" class="fas fa-star"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getDifficultyScore()}}/5</div>
                                            </div>
                                        {% else %}
                                            <div class="col-xs-4 d-flex justify-center">
                                                <div>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div style="margin-left: 2rem;">{{usage.getDifficultyScore()}}/5</div>
                                            </div>
                                    {% endif %}                               
                            </div>
                        </div>        
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% if value != 1 %}
                        <div class="row response-row">
                            <div class="col-sm-12">
                                {%trans%}usage-table.no.usage{%endtrans%}
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</div>
</div>
{% endblock %}
