<li  class="list-group-item h3 inline flx-cntnr flx-row flx-nowrap flx-start question-row grab" draggable="true" id="questionRow{{ question.getQuestionId() }}" question-id="{{question.getQuestionId()}}" >
    <div class="drag-handle">
        <i class="drag-icon" aria-hidden="true"></i>
    </div>
    <div class="question-number">{{ question.getQuestionNum() }} - </div>
    <div class="flx-grow-all question-text">
        {% autoescape false %}
        <span class="question-text-span"  id="questionText{{ question.getQuestionId() }}" tabindex="0">{{ question.getTitle() }}</span>
        {% endautoescape %}
    </div>
    <div class="iconos">
    <a id="questionDeleteAction{{ question.getQuestionId() }}" href="javascript:void(0);" onclick="deleteQuestion('{{ question.getQuestionId() }}')">
        <span aria-hidden="true" class="fa fa-fw fa-trash"></span>
        <span class="sr-only">{%trans%}instructor.delete.question{%endtrans%}</span>
    </a>
    </div>
</li>

