{% if exercise %}
    <div class="checkbox">
        {% if exercise.getTestId() %}
            <input type="checkbox" id="exercise{{exercise.getExerciseId()}}" name="exercise[]" value="{{exercise.getExerciseId()}}/{{exercise.getTestId()}}">
        {%else%}
            <input type="checkbox" id="exercise{{exercise.getExerciseId()}}" name="exercise[]" value="{{exercise.getExerciseId()}}">
        {%endif%}
        <label for="exercise{{exercise.getExerciseId()}}"><b>{%trans%}import-exercise.statement{%endtrans%}:</b> {{exercise.getTitle()}}</label>
        <label for="exercise{{exercise.getExerciseId()}}"><b>{%trans%}import-exercise.type{%endtrans%}:</b> {{exercise.getType()}}</label>
        <label for="exercise{{exercise.getExerciseId()}}"><b>{%trans%}import-exercise.difficulty{%endtrans%}:</b> {{exercise.getDifficulty()}}</label>
        <label for="exercise{{exercise.getExerciseId()}}"><b>{%trans%}import-exercise.averagegrade{%endtrans%}:</b> {{exercise.getAverageGrade() |round(2)}}</label>
    </div>
{% else %}
    <div class="checkbox">
        {%trans%}No exercises in test.{%endtrans%} 
    </div>
{% endif %}