<div id="toolTitle" class="h1">
    <button id="helpButton" type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#helpModal">
        <span class="fas fa-exercise-circle" aria-hidden="true"></span>{%trans%}main-title.help{%endtrans%}</button>
    <span class="flx-cntnr flx-row flx-nowrap flx-start items-center">
        <span class="title-text-span" onclick="editTitleText();" tabindex="0">{{ main.getTitle() }}</span>
        <span class="mainType-text-span mr-3" id="mainType" onclick="editTitleText();">
            {{ type }}
        </span>
        <a id="toolTitleEditLink" class="toolTitleAction" href="javascript:void(0);" onclick="editTitleText();">
            <span class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></span>
            <span class="sr-only">{%trans%}main-title.edit.title.text{%endtrans%}</span>
        </a>
    </span>
</div>
<form id="toolTitleForm" action="actions/UpdateMainTitle.php" method="post" style="display:none;">
    <div class="h1 flx-cntnr flx-row flx-nowrap flx-start">
        <label for="toolTitleInput" class="sr-only">{%trans%}main-title.title.text{%endtrans%}</label>
        <textarea class="title-edit-input flx-grow-all ct-textarea" id="toolTitleInput" name="toolTitle" rows="3">{{ main.getTitle() }}</textarea>
        <a id="toolTitleSaveLink" class="toolTitleAction" href="javascript:void(0);">
            <span class="fa fa-fw fa-save" aria-hidden="true"></span>
            <span class="sr-only">{%trans%}main-title.save.title.text{%endtrans%}</span>
        </a>
        <a id="toolTitleCancelLink" class="toolTitleAction" href="javascript:void(0);">
            <span class="fa fa-fw fa-times" aria-hidden="true"></span>
            <span class="sr-only">{%trans%}main-title.cancel.title.text{%endtrans%}</span>
        </a>
    </div>
    <div class="h3 flx-cntnr flx-row flx-nowrap flx-start">
        {% if newExerciseNumber > 1 %}
            <input type="hidden" id="mainTypeHidden" name="mainType" value="{{ main.getType() }}">
            <span class="title-edit-input flx-grow-all" id="mainType">{{ main.getTypeProperty('name') }}</span>
        {% else %}
            {% embed "components/ct-input.php.twig"
                with {
                    label: "Type:",
                    name: 'mainType',
                    types: CFG.CT_Types.types,
                    mainType: main.getType(),
                    inline: true
                } only
            %}
                {% block input %}
                    <select class="title-edit-input" id="mainTypeSelect" name="mainType">
                        {% for key, type in types %}
                            <option value="{{ loop.index0 }}" {% if mainType == loop.index0 %}selected{% endif %}>
                                {{ type.name|upper }}
                            </option>
                        {% endfor %}
                    </select>
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
</form>