<label for="questionType" class="labelForm">{%trans%}question-sql-form.questiontype{%endtrans%}</label>
<select name="question[question_sql_type]" class="form-control select" id="questionType">
    {% for sqlType in main.getTypeProperty('sqlTypes', type) %}
    <option value="{{ sqlType }}" {{ question.getQuestionType() == sqlType ? "selected" : "" }} .>{{ sqlType }}</option>
    {% endfor %}
</select>
<label for="questionDBMS" class="labelForm">{%trans%}question-sql-form.questionDBMS{%endtrans%}</label>

<select name="question[question_dbms]" class="form-control select" id="questionDBMS">
    {% for index, dbms in main.getTypeProperty('dbConnections', type) %}
    <option value="{{ index }}" {{ question.getQuestionDbms() == index ? "selected" : "" }} .>{{ dbms.name }}</option>
    {% endfor %}
</select>
<div style="display: inline-block">
    <label for="questionDatabase" class="labelForm">{%trans%}question-sql-form.questiondatabase{%endtrans%}</label>
    <input class="inputStyle" type="text" name="question[question_database]" value="{{ question.getQuestionDatabase() }}">
</div>
</br>
<label for="questionSolution" class="labelForm">{%trans%}question-sql-form.questionsolution{%endtrans%}</label>
<textarea class="form-control" id="questionSolution" name="question[question_solution]" rows="4" placeholder="Select * from test;" required>{{ question.getQuestionSolution() }}</textarea>
<label for="questionProbe" class="labelForm">{%trans%}question-sql-form.questionprobe{%endtrans%}</label>
<textarea class="form-control" name="question[question_probe]" rows="4">{{ question.getQuestionProbe() }}</textarea>
<label for="questionOnfly" class="labelForm">{%trans%}question-sql-form.databaseonfly{%endtrans%}</label>
<textarea class="form-control" name="question[question_onfly]" rows="4">{{ question.getQuestionOnfly() }}</textarea>