{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle("create-exercise-modal.create-exercise"|trans, true, false) }}
{% endblock %}
{% set exercise = newExercise %}
{% block content %}
    <div class="exercises-creation">
        <form
            id="exerciseTextForm-1"
            action="actions/AddExercise.php"
            method="post"
            class="exercise-form flex flex-wrap gap-2 justify-between"
            enctype="multipart/form-data"

        >
            <input id="ownerName" type="hidden" value={{owner}} name="owner">
            {% if exerciseReplace|length > 0 %}
                <input type="hidden" value='{{exerciseReplace}}' name="exercise_replace">
            {% endif %}
            <div class="w-full mb-2">
                {% embed "components/ct-input.php.twig"
                    with {
                        label: "new-exercise-form.exercisetitle"|trans,
                        name: 'exercise[title]',
                        id: 'exerciseTitleText',
                        value: exercise.getTitle(),
                        required: true
                    } only
                %}
                {% endembed %}
            </div>
            <div class="w-full mb-2 flex flex-wrap gap-2 justify-between">
                <div class="w-8/12">
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "new-exercise-form.keywordsseparatedlines"|trans,
                            name: 'exercise[keywords]',
                            id: 'exerciseKeywords',
                            value: exercise.getKeywords()[0]

                        } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-3/12">
                    {% set difficulty = exercise.getDifficulty() %}
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "create-exercise-modal.difficulty"|trans,
                            name: 'exercise[title]',
                            difficulty: difficulty
                        } only
                    %}
                        {% block input %}
                            <select id="difficultySelect" name="exercise[difficulty]">
                                <option value="Easy" {{ (difficulty == "Easy")? "selected" : ""}}>{%trans%}create-exercise-modal.easy{%endtrans%}</option>
                                <option value="Medium" {{ (difficulty == "Medium")? "selected" : ""}}>{%trans%}create-exercise-modal.medium{%endtrans%}</option>
                                <option value="Hard" {{ (difficulty == "Hard")? "selected" : ""}}>{%trans%}create-exercise-modal.hard{%endtrans%}</option>
                            </select>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>

            <div class="w-full mt-3">
                {% embed "components/ct-textarea.php.twig"
                    with {
                        label: "new-exercise-form.labels.statement"|trans,
                        name: 'exercise[statement]',
                        id: 'exercise[statement]',
                        labelFor: 'exercise[statement]',
                        inputClass: 'ckeditor',
                        required: true,
                        value: exercise.getStatement(),
                    } only
                %}
                {% endembed %}
            </div>

            <div class="w-full mt-4">

                {% embed "components/ct-textarea.php.twig"
                    with { label: "new-exercise-form.labels.hint"|trans, name: 'exercise[hint]', rows: "1", value: exercise.getHint() } only
                %}
                {% endembed %}

            </div>

            <div class="w-full mt-4">
                {% set languages = validatorService.getCodeLanguages() %}
                {% set exerciseLanguage = exercise.getExerciseLanguage() %}
                {% embed "components/ct-textarea.php.twig"
                    with {
                        label: "exercise-code-form.codesolution"|trans,
                        name: 'exercise[exercise_solution]',
                        rows: "10",
                        id: 'exercise[exercise_solution]',
                        labelFor: 'exercise[exercise_solution]',
                        languages: languages,
                        exerciseLanguage: exerciseLanguage,
                        required: true,
                        value: exercise.getExerciseSolution()
                    } only
                %}

                {% block text %}
                    <div class="flex items-center">
                        <span>
                            {%trans%}exercise-code-form.codesolution{%endtrans%}<span class="requiredElement"> *</span>
                        </span>

                        <div class="ml-auto">
                            {% embed "components/ct-input.php.twig"
                                with {
                                    label: "Language",
                                    name: 'exercise[exercise_language]',
                                    hideLabel: true,
                                    languages: languages,
                                    exerciseLanguage: exerciseLanguage

                                    } only
                            %}

                            {% block input %}
                                <select id="typeSelect" name="exercise[exercise_language]" style="background: #fff;" id="exerciseLanguagee">
                                {% for language in languages %}
                                <option value="{{ language }}" {{ exerciseLanguage == language ? "selected" : "" }}>{{ language}}</option>
                                {% endfor %}
                                </select>
                            {% endblock %}
                            {% endembed %}
                        </div>
                    </div>
                {% endblock %}
                {% endembed %}
            </div>

            <div class="w-full mt-4 full-section-class">
                <div  class="full-section-tittle" data-toggle="collapse" href="#testsCollapse" role="button" aria-expanded="true" aria-controls="testsCollapse">
                    <span class="p-2">{%trans%}new-exercise-form.labels.tests{%endtrans%}</span>
                    <span style="color: red; font-size: 15px; font-weight: bolder">*</span>
                </div>
                <div class="collapse in" id="testsCollapse">
                    <div>
                        <div class="m-2">
                            <input class="w-1/12 rounded" type='button' onclick='add_tests()' value=' + '/>
                            <span class="ml-1">{%trans%}new-exercise-form.buttons.add-tests{%endtrans%}</span>
                        </div>

                        <div class="flex buttons flex-col gap-2 ml-1">
                            <div id='anchor_tests' class="mr-1">
                            {% set count = (exercise.getExerciseOutputTest()|length != 0)? exercise.getExerciseOutputTest()|length : 1 %}
                            <input type="hidden" id="quantity-tests" value="{{count}}">
                            {% for i in 1..count %}
                              <div id='tests_section_{{i}}' class='section pb-1 mt-1 border p-4'>
                                <div class="p-0 flex gap-3 items-stretch">
                                    <div class="w-full">
                                        <div class="text-center">
                                            {%trans%}new-exercise-form.labels.inputs{%endtrans%}
                                        </div>

                                        <textarea class="tests-textarea" cols="30" rows="5" id="input_1" name="exercise[exercise_input_test][{{i}}]">{{exercise.getExerciseInputTest()[count]}}</textarea>
                                    </div>
                                    <div class="flex items-center pt-6">
                                        <span>
                                             →
                                         </span>
                                    </div>
                                    <div class="w-full">
                                        <div class="text-center">
                                            {%trans%}new-exercise-form.labels.outputs{%endtrans%}
                                        </div>

                                        <textarea class="tests-textarea" cols="30" rows="5" id="output_1" name="exercise[exercise_output_test][{{i}}]">{{exercise.getExerciseOutputTest()[count]}}</textarea>
                                    </div>
                                </div>
                              </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div id="removeTestsBlock" class="m-2" style='{{(count != 1) ? '' : 'display:none'}}'>
                            <input class="w-1/12 rounded" type='button' onclick='remove_tests()' value=' - ' />
                            <span class="ml-1">{%trans%}new-exercise-form.buttons.delete-tests{%endtrans%}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full mt-4 full-section-class">
                <div  class="full-section-tittle" data-toggle="collapse" href="#fileCollapse" role="button" aria-expanded="true" aria-controls="fileCollapse">
                    <span class="p-2">{%trans%}new-exercise-form.labels.library-title{%endtrans%}</span>
                </div>
                <div class="collapse in" id="fileCollapse">
                    <div>
                        <div class="m-2">
                            <input class="w-1/12 rounded" type='button' onclick='add_library()' value=' + '/>
                            <span class="ml-1">{%trans%}new-exercise-form.buttons.add-library{%endtrans%}</span>
                        </div>

                        <div class="flex buttons flex-col gap-2 ml-1">
                            <div id='anchor_library' class="mr-1">
                                {% set count = (exercise.getLibraries()|length != 0)? exercise.getLibraries()|length : 0 %}
                                {% if count != 0 %}
                                    <input type="hidden" id="quantity-rec-lib" value="{{count}}">
                                    <div id="library_recuperated_section" style="" class="section border p-4 mb-2">
                                    {% for i in 1..count%}
                                        {% set library = exercise.getLibraries()[i-1] %}
                                        <span id="recuperated_library_{{i - 1}}" class="border p-2 rounded mr-2">
                                            {{library["pathname"]}} <button class="text-danger" id="delete-recuperated-library-{{i}}">x</button>
                                            <input type="hidden" name="exercise[exercise_libraries][{{i - 1}}]" value="{{exercise.getAkId()}}:{{library["id"]}}">
                                        </span>
                                    {% endfor %}
                                    </div>
                                    <input type="hidden" name="exercise[exercise_num]" value="{{exercise.getExerciseNum()}}">
                                    <script>
                                    let recLibCount = document.getElementById("quantity-rec-lib").value;
                                    for (let i = 1; i <= document.getElementById("quantity-rec-lib").value; i++) {
                                        document.getElementById("delete-recuperated-library-" + i).addEventListener("click", function(event){
                                            event.preventDefault();
                                            console.log(event);
                                            let recuperatedSection = document.getElementById("library_recuperated_section");
                                            recuperatedSection.removeChild(event.target.parentElement);
                                            recLibCount--;
                                            if(recLibCount == 0){
                                                recuperatedSection.remove();
                                            }
                                        });
                                    }
                                    </script>
                                {% endif %}
                            </div>
                        </div>
                        <div id="removeLibrariesBlock" class="m-2" style='display:none'>
                            <input class="w-1/12 rounded" type='button' onclick='remove_library()' value=' - ' />
                            <span class="ml-1">{%trans%}new-exercise-form.buttons.delete-library{%endtrans%}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <div class="flex items-center justify-end py-3 mt-3 gap-3">
                    <div id="requiredAlert" class="hidden">
                        <strong>
                        <span class="important"> ! </span>
                        {%trans%}warning.obligatory{%endtrans%}
                        </strong>
                    </div>
                    <button type="button" class="btn btn-success" onclick="showNewExerciseRow()">
                        <span aria-hidden="true" class="fa fa-fw fa-save"></span>
                        {%trans%}create-exercise-modal.save-exercise{%endtrans%}
                    </button>
                    <button type="button" class="btn btn-default" onclick="exerciseCancelAction()" data-dismiss="modal">
                        <span aria-hidden="true" class="fa fa-fw fa-times"></span>
                        {%trans%}create-exercise-modal.cancel-exercise{%endtrans%}
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- TEMPLATES (to clone) -->
    <div id='template_tests' style='display:none' class='section pb-1 mt-1 border p-4'>

      <div class="p-0 flex gap-3 items-stretch">
          <div class="w-full">
              <div class="text-center">
                  {%trans%}new-exercise-form.labels.inputs{%endtrans%}
              </div>

              <textarea class="tests-textarea" cols="30" rows="5" id="input_template"></textarea>
          </div>
          <div class="flex items-center pt-6">
              <span>
                   →
               </span>
          </div>
          <div class="w-full">
              <div class="text-center">
                  {%trans%}new-exercise-form.labels.outputs{%endtrans%}
              </div>

              <textarea class="tests-textarea" cols="30" rows="5" id="output_template"></textarea>
          </div>
      </div>
    </div>

    <div id='template_library' style='display:none' class='section pb-1 mt-1 border p-4'>

        <div class="block">
            <input type='radio' id='radio_librarytext_template' value="library_text" class="ml-1" checked/>
            <label class="pl-1 pr-1">{%trans%}new-exercise-form.labels.text{%endtrans%}</label>
            <input type='radio' id='radio_libraryfile_template' value="library_file" class="ml-1" />
            <label class="pl-1 pr-1">{%trans%}new-exercise-form.labels.file{%endtrans%}</label>
        </div>
        <div class="input-libraryText">
            <span>{%trans%}new-exercise-form.labels.title{%endtrans%}</span>
            <input type='text' id='library_texttitle_template' class="ct-input-text mt-1 mb-1" />

            <span>{%trans%}new-exercise-form.labels.body{%endtrans%}</span>
            <textarea class="tests-textarea" cols="30" rows="5" id="library_textbody_template"></textarea>
        </div>

        <input type='file' id='library_file_template' class="mt-1 mb-1" style='display:none' />
    </div>

{% endblock %}
{% block footer %}
<script src="public/build/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="public/build/codemirror/codemirror.css">
<script src="public/build/codemirror/javascript/javascript.js"></script>
<script src="public/build/codemirror/php/php.js"></script>
<script src="public/build/codemirror/python/python.js"></script>
<script src="public/build/codemirror/xml/xml.js"></script>
<script src="public/build/codemirror/htmlmixed/htmlmixed.js"></script>
<script src="public/build/codemirror/css/css.js"></script>
<script src="public/build/codemirror/clike/clike.js"></script>
<script>
      var count_tests = document.getElementById("quantity-tests").value;
      var count_libraries = 0;

      function setCount_tests(count){
          this.count_tests = count;
      }

      function setProperties(obj, count, elem, name){
        let base = elem.replace('template', '');
        let jqElem = obj.find('#'+elem);
        jqElem.prop('id', base+count);
        if(name) {
          jqElem.prop('name', name+count);
        } else {
          jqElem.prop('name', base+count);
        }
        return jqElem;
      }

      //Tests
      //--------------------------------------------------------------------------
      function add_tests(){
        count_tests++;

        if(count_tests > 1){
            let deleteItem = $('#removeTestsBlock');
            deleteItem.show();
        }

        let newobj = $('#template_tests').clone();

        newobj.prop('id', 'tests_section_'+count_tests);
        newobj.find('#input_template').prop('id', 'input_'+count_tests).prop('name', 'exercise[exercise_input_test]['+count_tests+']');
        newobj.find('#output_template').prop('id', 'output_'+count_tests).prop('name', 'exercise[exercise_output_test]['+count_tests+']');

        newobj.appendTo('#anchor_tests');

        newobj.show();
      }

      function remove_tests(){
        $('#anchor_tests').find('.section:last-child').remove();
        count_tests--;
        if(count_tests <= 1){
            let deleteItem = $('#removeTestsBlock');
            deleteItem.hide();
        }
      }

      //Libraries
      //--------------------------------------------------------------------------
      function hideAll_library(countval){
        let section = $('#library_section_'+countval);
        section.find('.input-libraryText').hide();
        section.find('#library_file_'+countval).hide();
      }

      function onChangeRadio_library(elem){
        let sel = '';

        let countval = elem.target.name.replace('radiosel_', '');
        switch(elem.target.value){
          case 'library_text':
            sel = '.input-libraryText';
            break;
          case 'library_file':
            sel = '#library_file_'+countval;
            break;
        }

        if(sel){
          hideAll_library(countval);
          $('#library_section_'+countval).find(sel).show()
        }

      }

      function add_library(){
        count_libraries++;

        if(count_libraries > 0){
            let deleteItem = $('#removeLibrariesBlock');
            deleteItem.show();
        }

        let newobj = $('#template_library').clone();

        newobj.prop('id', 'library_section_'+count_libraries);
        setProperties(newobj, count_libraries, 'library_texttitle_template');
        setProperties(newobj, count_libraries, 'library_textbody_template');
        setProperties(newobj, count_libraries, 'library_file_template');
        setProperties(newobj, count_libraries, 'radio_librarytext_template', 'radiosel_').change(onChangeRadio_library);
        setProperties(newobj, count_libraries, 'radio_libraryfile_template', 'radiosel_').change(onChangeRadio_library);

        newobj.appendTo('#anchor_library');

        newobj.show();
      }

      function remove_library(){
        $('#anchor_library').find('.section:last-child').remove();
        count_libraries--;
        if(count_libraries <= 0){
            let deleteItem = $('#removeLibrariesBlock');
            deleteItem.hide();
        }
      }

      function deleteLibrary(event){
        event.preventDefault();
        console.log(event);
      }

</script>
{% endblock %}