{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle("Create exercise", true, false) }}
{% endblock %}
{% block content %}
    <div class="exercises-creation">
        <form
            id="exerciseTextForm-1"
            action="actions/AddExercise.php"
            method="post"
            class="exercise-form flex flex-wrap gap-2 justify-between"
        >
            <div class="w-full mb-2">
                {% embed "components/ct-input.php.twig"
                    with {
                        label: "Exercise title",
                        name: 'exercise[title]',
                        id: 'exerciseTitleText'
                    } only
                %}
                {% endembed %}
            </div>
            <div class="w-full mb-2 flex flex-wrap gap-2 justify-between">
                <div class="w-8/12">
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "Keywords",
                            name: 'exercise[keywords]',
                            id: 'exerciseKeywords'
                        } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-3/12">
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "Difficulty",
                            name: 'exercise[title]'
                        } only
                    %}
                        {% block input %}
                            <select id="difficultySelect" name="exercise[difficulty]">
                                <option value="Easy">{%trans%}create-exercise-modal.easy{%endtrans%}</option>
                                <option value="Medium">{%trans%}create-exercise-modal.medium{%endtrans%}</option>
                                <option value="Hard">{%trans%}create-exercise-modal.hard{%endtrans%}</option>
                            </select>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
            {% if main.getType() == '1' %}
                <div class="w-full mt-3">
                    {% embed "components/ct-textarea.php.twig"
                        with { label: "exercise-code-form.inputforstudent"|trans, name: 'exercise[exercise_input_test]', inputClass: 'ckeditor' } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { label: "exercise-code-form.inputforgrade"|trans, name: 'exercise[exercise_input_grade]' } only
                        %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% set exercise = newExercise %}
                    {% set languages = main.getTypeProperty('codeLanguages') %}
                    {% set exerciseLanguage = exercise.getExerciseLanguage() %}
                    {% embed "components/ct-textarea.php.twig"
                        with {
                            label: "exercise-code-form.codesolution"|trans,
                            name: 'exercise[exercise_solution]',
                            rows: "10",
                            id: 'exercise[exercise_solution]',
                            labelFor: 'exercise[exercise_solution]',
                            languages: languages,
                            exerciseLanguage: exerciseLanguage
                        } only
                    %}
                        {% block text %}
                            <div class="flex items-center">
                                <span>
                                    {%trans%}exercise-code-form.codesolution{%endtrans%}
                                </span>
                                <div class="ml-auto">
                                    {% embed "components/ct-input.php.twig"
                                        with {
                                            label: "Language",
                                            name: 'exercise[exercise_language]',
                                            hideLabel: true,
                                            languages: languages,
                                            exerciseLanguage: exerciseLanguage
                                        } only
                                    %}
                                        {% block input %}
                                            <select id="typeSelect" name="exercise[exercise_language]" style="background: #fff;" id="exerciseLanguagee">
                                                {% for index, language in languages %}
                                                    <option value="{{ index }}" {{ exercise.getExerciseLanguage() == index ? "selected" : "" }} . >{{ language.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
            {% endif %}
            {% if main.getType() == '0' %}
                <div class="w-full mb-2 flex flex-wrap gap-2 justify-between">
                    <div class="w-8/12">
                        {% embed "components/ct-input.php.twig"
                            with {
                                label: "exercise-sql-form.exercisedatabase"|trans,
                                name: 'exercise[exercise_database]',
                                id: 'exerciseDatabase',
                            } only
                        %}
                        {% endembed %}
                    </div>
                    <div class="w-3/12">
                        {% embed "components/ct-input.php.twig"
                            with {
                                label: "exercise-sql-form.exercisetype"|trans,
                                name: 'exercise[exercise_sql_type]',
                                id: 'exerciseType',
                                sqlTypes: main.getTypeProperty('sqlTypes', type),
                                exercise: exercise,
                            } only
                        %}
                            {% block input %}
                                <select name="exercise[exercise_sql_type]" id="exerciseType">
                                    {% for sqlType in sqlTypes %}
                                        <option value="{{ sqlType }}" {{ exercise.getExerciseType() == sqlType ? "selected" : "" }} .>{{ sqlType }}</option>
                                    {% endfor %}
                                </select>
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="w-full mt-4">
                    {% set exercise = newExercise %}
                    {% embed "components/ct-textarea.php.twig"
                        with {
                            label: "exercise-sql-form.exercisesolution"|trans,
                            name: 'exercise[exercise_solution]',
                            rows: "8",
                            dbConnections: main.getTypeProperty('dbConnections', type),
                            placeholder: "SELECT * FROM mytable WHERE name = 'myname'"
                        } only
                    %}
                        {% block text %}
                            <div class="flex items-center">
                                <span>
                                    {%trans%}exercise-sql-form.exercisesolution{%endtrans%}
                                </span>
                                <div class="ml-auto">
                                    {% embed "components/ct-input.php.twig"
                                        with {
                                            label: "Exercise DBMS",
                                            name: 'exercise[exercise_language]',
                                            hideLabel: true,
                                            dbConnections: dbConnections,
                                        } only
                                    %}
                                        {% block input %}
                                            <select name="exercise[exercise_dbms]" style="background: #fff;" id="exerciseDBMS">
                                                {% for index, dbms in dbConnections %}
                                                    <option value="{{ index }}" {{ exercise.getExerciseDbms() == index ? "selected" : "" }} .>{{ dbms.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { label: "exercise-sql-form.exerciseprobe"|trans, name: 'exercise[exercise_probe]' } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { label: "exercise-sql-form.databaseonfly"|trans, name: 'exercise[exercise_onfly]' } only
                    %}
                    {% endembed %}
                </div>
            {% endif %}
            <div class="w-full mt-4">
                {% embed "components/ct-textarea.php.twig"
                    with { label: "new-exercise-form.mustcontainseparatedlines"|trans, name: 'exercise[exercise_must]', rows: "1" } only
                    %}
                {% endembed %}
            </div>
            <div class="w-full mt-4">
                {% embed "components/ct-textarea.php.twig"
                    with { label: "new-exercise-form.shouldntcontain"|trans, name: 'exercise[exercise_musnt]', rows: "1" } only
                    %}
                {% endembed %}
            </div>
            <div class="w-full">
                <div class="flex items-center justify-end py-3 mt-3 gap-3">
                    <button type="button" class="btn btn-success" onclick="showNewExerciseRow()">  <span aria-hidden="true" class="fa fa-fw fa-save"></span>
                        {%trans%}create-exercise-modal.save-exercise{%endtrans%}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span aria-hidden="true" class="fa fa-fw fa-times"></span>
                        {%trans%}create-exercise-modal.cancel-exercise{%endtrans%}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
<script src="public/build/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="public/build/codemirror/codemirror.css">
<script src="public/build/codemirror/javascript/javascript.js"></script>
{% endblock %}
