{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle("create-exercise-modal.create-exercise"|trans, true, false) }}
{% endblock %}
{% block content %}
    <div class="exercises-creation">
        <form
            id="exerciseTextForm-1"
            action="actions/AddExercise.php"
            method="post"
            class="exercise-form flex flex-wrap gap-2 justify-between"
        >
            <input id="ownerName" type="hidden" value={{owner}} name="owner">

            <div class="w-full mb-2">
                {% embed "components/ct-input.php.twig"
                    with {
                        label: "new-exercise-form.exercisetitle"|trans,
                        name: 'exercise[title]',
                        id: 'exerciseTitleText',
                        required: true
                    } only
                %}
                {% endembed %}
            </div>
            <div class="w-full mb-2 flex flex-wrap gap-2 justify-between">
                <div class="w-8/12">
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "new-exercise-form.keywordsseparatedlines"|trans,
                            name: 'exercise[keywords]',
                            id: 'exerciseKeywords',
                            
                        } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-3/12">
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "create-exercise-modal.difficulty"|trans,
                            name: 'exercise[title]'
                        } only
                    %}
                        {% block input %}
                            <select id="difficultySelect" name="exercise[difficulty]">
                                <option value="Easy">{%trans%}create-exercise-modal.easy{%endtrans%}</option>
                                <option value="Medium">{%trans%}create-exercise-modal.medium{%endtrans%}</option>
                                <option value="Hard">{%trans%}create-exercise-modal.hard{%endtrans%}</option>
                            </select>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
                <div class="w-full mt-3">
                    {% embed "components/ct-textarea.php.twig"
                        with {
                            label: "new-exercise-form.labels.statement"|trans,
                            name: 'exercise[statement]',
                            id: 'exercise[statement]',
                            labelFor: 'exercise[statement]',
                            inputClass: 'ckeditor',
                            required: true
                        } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">

                    {% embed "components/ct-textarea.php.twig"
                        with { label: "new-exercise-form.labels.hint"|trans, name: 'exercise[hint]', rows: "1" } only
                        %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% set exercise = newExercise %}
                    {% set languages = validatorService.getCodeLanguages() %}
                    {% set exerciseLanguage = exercise.getExerciseLanguage() %}
                    {% embed "components/ct-textarea.php.twig"
                        with {
                            label: "exercise-code-form.codesolution"|trans,
                            name: 'exercise[exercise_solution]',
                            rows: "10",
                            id: 'exercise[exercise_solution]',
                            labelFor: 'exercise[exercise_solution]',
                            languages: languages,
                            exerciseLanguage: exerciseLanguage,
                            required: true
                        } only
                    %}
                        {% block text %}
                            <div class="flex items-center">
                                <span>
                                    {%trans%}exercise-code-form.codesolution{%endtrans%}<span class="requiredElement"> *</span>
                                </span>
                                <div class="ml-auto">
                                    {% embed "components/ct-input.php.twig"
                                        with {
                                            label: "Language",
                                            name: 'exercise[exercise_language]',
                                            hideLabel: true,
                                            languages: languages,
                                            exerciseLanguage: exerciseLanguage
                                            
                                        } only
                                    %}
                                        {% block input %}
                                            <select id="typeSelect" name="exercise[exercise_language]" style="background: #fff;" id="exerciseLanguagee">
                                                {% for language in languages %}
                                                    <option value="{{ language }}" {{ exercise.getExerciseLanguage() == language ? "selected" : "" }}>{{ language}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { 
                            label: "new-exercise-form.labels.tests"|trans,
                            name: '',
                            required:true
                        } only
                        %}
                        {% block input %}                             
                            <div class="p-0 flex gap-3 items-stretch">
                                <div class="w-full">                                      
                                    <div class="text-center">
                                       {%trans%}new-exercise-form.labels.inputs{%endtrans%}
                                    </div>                                   
                                    <textarea class="tests-textarea" name="exercise[exercise_input_test]" cols="30" rows="5" id="input"></textarea>
                                </div>                                
                                <div class="flex items-center pt-6">
                                    <span>
                                        →
                                    </span>
                                </div>                                
                                <div class="w-full">                                     
                                    <div class="text-center">                                    
                                        {%trans%}new-exercise-form.labels.outputs{%endtrans%}
                                    </div>                                    
                                    <textarea class="tests-textarea" name="exercise[exercise_output_test]" cols="30" rows="5" id="output"></textarea>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>   
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { 
                            label: "new-exercise-form.labels.restrictions"|trans,
                            name: ''
                        } only
                        %}
                        {% block input %}
                            <div class="p-0 flex gap-10 items-stretch">
                                <div class="flex-grow">
                                    <div class="text-center">
                                        {%trans%}
                                            new-exercise-form.mustcontainseparatedlines
                                        {%endtrans%}
                                    </div>
                                    <textarea class="tests-textarea" name="exercise[exercise_must]" rows="5"></textarea>
                                </div>
                                <div class="flex-grow">
                                    <div class="text-center">
                                        {%trans%}
                                            new-exercise-form.shouldntcontain
                                        {%endtrans%}
                                    </div>
                                    <textarea class="tests-textarea" name="exercise[exercise_musnt]" rows="5"></textarea>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>            
                <div class="w-full">
                    <div class="flex items-center justify-end py-3 mt-3 gap-3">
                        <div id="requiredAlert" class="hidden">
                            <strong>
                                <span class="important"> ! </span>
                                {%trans%}warning.obligatory{%endtrans%}
                            </strong>
                        </div>          
                        <button type="button" class="btn btn-success" onclick="showNewExerciseRow()">  <span aria-hidden="true" class="fa fa-fw fa-save"></span>
                            {%trans%}create-exercise-modal.save-exercise{%endtrans%}</button>
                        <button type="button" class="btn btn-default" onclick="exerciseCancelAction()" data-dismiss="modal"><span aria-hidden="true" class="fa fa-fw fa-times"></span>
                            {%trans%}create-exercise-modal.cancel-exercise{%endtrans%}</button>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
<script src="public/build/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="public/build/codemirror/codemirror.css">
<script src="public/build/codemirror/javascript/javascript.js"></script>
<script src="public/build/codemirror/php/php.js"></script>
<script src="public/build/codemirror/python/python.js"></script>
<script src="public/build/codemirror/xml/xml.js"></script>
<script src="public/build/codemirror/htmlmixed/htmlmixed.js"></script>
<script src="public/build/codemirror/css/css.js"></script>
<script src="public/build/codemirror/clike/clike.js"></script>
{% endblock %}
