{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ include('main/mainTitle.php.twig') }}
{% endblock %}
{% block content %}
<div class="page instructor-home">
    <div style="margin-bottom: 30px;">
        <p class="lead">{%trans%}main-title.lead2{%endtrans%}</p>
    </div>
    <section class="cards">
        <!-- Exercises -->
        {% embed "components/dashboard-card.php.twig" with { amount: exercises|length } %}
            {% block title %}
                {%trans%}main-title.exercises{%endtrans%}
            {% endblock %}

            {% block icon %}
                <i class="fa fa-file-code-o" style="font-size: 20px;" aria-hidden="true"></i>
            {% endblock %}
            {% block body %}
                <div>
                    <a class="hover-underline-animation link-with-icon" href="create-exercise.php">
                        <span>
                            {%trans%}main-title.exercises.create{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <a class="hover-underline-animation link-with-icon" href="exercises-list.php">
                        <span>
                            {%trans%}main-title.exercises.list{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <a class="hover-underline-animation link-with-icon" href="ak-projects-list.php">
                        <span>
                            {%trans%}main-title.exercises.authorkit{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <a class="hover-underline-animation link-with-icon" href="import-from-repo.php?page=0">
                        <span>
                            {%trans%}main-title.exercises.codetest{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            {% endblock %}
        {% endembed %}
        <!-- Usages -->
        {% embed "components/dashboard-card.php.twig" with {amount: usagesCount} %}
            {% block title %}
                {%trans%}main-title.usages{%endtrans%}
            {% endblock %}

            {% block icon %}
                <i class="fa fa-comments" aria-hidden="true"></i>
            {% endblock %}
            {% block body %}
                <div>
                    <a class="hover-underline-animation link-with-icon" href="usage-exercise.php">
                        <span>
                            {%trans%}main-title.usages.exercise{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <a class="hover-underline-animation link-with-icon" href="usage-student.php">
                        <span>
                            {%trans%}main-title.usages.user{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            {% endblock %}
        {% endembed %}
        <!-- Results -->
        {% embed "components/dashboard-card.php.twig" %}
            {% block title %}
                {%trans%}main-title.results{%endtrans%}
            {% endblock %}

            {% block icon %}
                <i class="fas fa-poll-h" aria-hidden="true"></i>
            {% endblock %}
            {% block body %}
                <div>
                    <a class="hover-underline-animation link-with-icon" href="results-student.php">
                        <span>
                            {%trans%}main-title.results.student{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <a class="hover-underline-animation link-with-icon" href="results-exercise.php">
                        <span>
                            {%trans%}main-title.results.exercise{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <a class="hover-underline-animation link-with-icon" href="results-download.php">
                        <span>
                            {%trans%}main-title.results.download{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            {% endblock %}
        {% endembed %}
        <!-- Grade -->
        {% embed "components/dashboard-card.php.twig" with { amount: gradesCount, cardLink: 'grade.php' } %}
            {% block title %}
                {%trans%}main-title.grades{%endtrans%}
            {% endblock %}

            {% block icon %}
                <i class="fas fa-clipboard-check" aria-hidden="true"></i>
            {% endblock %}
            {% block body %}
                <div class="grades-card-body">
                    <div>
                        <span>
                            {%trans%}main-title.grades.average{%endtrans%}
                        </span>
                        <span>
                            {{ gradesMap['avg']|number_format(2) }}
                        </span>
                    </div>
                    <div>
                        <span>
                            {%trans%}main-title.grades.max{%endtrans%}
                        </span>
                        <span>
                            {{ gradesMap['max']|number_format(2) }}
                        </span>
                    </div>
                    <div>
                        <span>
                            {%trans%}main-title.grades.min{%endtrans%}
                        </span>
                        <span>
                            {{ gradesMap['min']|number_format(2) }}
                        </span>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
        <!-- Import/Export -->
        {% embed "components/dashboard-card.php.twig" %}
            {% block title %}
                {%trans%}main-title.import/export{%endtrans%}
            {% endblock %}

            {% block icon %}
                <i class="fa fa-archive" aria-hidden="true"></i>
            {% endblock %}
            {% block body %}
                <div>
                    <a class="hover-underline-animation link-with-icon" href="export-context.php">
                        <span>
                            {%trans%}main-title.import/export.export{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <label id="import-file-label" for="import-file-field" class="hover-underline-animation link-with-icon">
                        <span>
                            {%trans%}main-title.import/export.import{%endtrans%}
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </label>
                    <form id="form-confirm-import" action="import-context.php" method="post" enctype="multipart/form-data">
                        <label id="import-confirmation" class="hover-underline-animation link-with-icon confirmation hidden">
                            <span>
                                <span>
                                    {%trans%}main-title.import/export.import.confirm{%endtrans%}
                                </span>
                                <span class="file-size ml-auto">
                                    - - -
                                </span>
                                <span class="file-cancel ml-3 px-1 -mr-1" title="Cancel import">
                                    <i class="fa fa-trash text-red-600 hover:text-red-800 transition-colors" aria-hidden="true"></i>
                                </span>
                            </span>
                            <span class="file-info block truncate">
                                - - -
                            </span>
                        </label>
                        <div class="hidden">
                            <input type="file" name="import-file" accept=".zip,.7zip" id="import-file-field">
                        </div>
                    </form>
                </div>
            {% endblock %}
        {% endembed %}
        <!-- Student view -->
        {% embed "components/dashboard-card.php.twig" with {cardLink: 'student-home.php'} %}
            {% block title %}
                {%trans%}main-title.preview{%endtrans%}
            {% endblock %}

            {% block icon %}
                <i class="fas fa-user-graduate" aria-hidden="true"></i>
            {% endblock %}
            {% block body %}
                <div style="color: #0059b3;">
                    {%trans%}main-title.preview.view{%endtrans%}
                </div>
            {% endblock %}
        {% endembed %}
        <div class="dashboard-card hidden">
            <div class="dashboard-card__header">
                <div class="dashboard-card__header__icon">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </div>
                <div class="dashboard-card__header__title">
                    Usage
                </div>
                <div class="dashboard-card__header__append numeric">
                    24
                </div>
            </div>
            <div class="dashboard-card__body">
                <div>
                    <a class="hover-underline-animation link-with-icon" href="usage-exercise.php">
                        <span>
                            By exercise
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div>
                    <a class="hover-underline-animation link-with-icon" href="usage-student.php">
                        <span>
                            By user
                        </span>
                        <span>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

{{ include('exercise/createModal.php.twig') }}
{{ include('exercise/import/importModal.php.twig') }}
{% endblock %}
