{% extends "mainTemplate.php.twig" %}
{% block pageTitle %}
{{ OUTPUT.pageTitle("Create question", true, false) }}
{% endblock %}
{% block content %}
    <div class="questions-creation">
        <form
            id="questionTextForm-1"
            action="actions/AddQuestion.php"
            method="post"
            class="question-form flex flex-wrap gap-2 justify-between"
        >
            <div class="w-full mb-2">
                {% embed "components/ct-input.php.twig"
                    with {
                        label: "Question title",
                        name: 'question[title]',
                        id: 'questionTitleText'
                    } only
                %}
                {% endembed %}
            </div>
            <div class="w-full mb-2 flex flex-wrap gap-2 justify-between">
                <div class="w-8/12">
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "Keywords",
                            name: 'question[keywords]',
                            id: 'questionKeywords'
                        } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-3/12">
                    {% embed "components/ct-input.php.twig"
                        with {
                            label: "Difficulty",
                            name: 'question[title]'
                        } only
                    %}
                        {% block input %}
                            <select id="difficultySelect" name="question[difficulty]">
                                <option value="Easy">{%trans%}create-question-modal.easy{%endtrans%}</option>
                                <option value="Medium">{%trans%}create-question-modal.medium{%endtrans%}</option>
                                <option value="Hard">{%trans%}create-question-modal.hard{%endtrans%}</option>
                            </select>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
            {% if main.getType() == '1' %}
                <div class="w-full mt-3">
                    {% embed "components/ct-textarea.php.twig"
                    with { label: "question-code-form.inputforstudent"|trans, name: 'question[question_input_test]' } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { label: "question-code-form.inputforgrade"|trans, name: 'question[question_input_grade]' } only
                        %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% set question = newQuestion %}
                    {% set languages = main.getTypeProperty('codeLanguages') %}
                    {% set questionLanguage = question.getQuestionLanguage() %}
                    {% embed "components/ct-textarea.php.twig"
                        with {
                            label: "question-code-form.codesolution"|trans,
                            name: 'question[question_solution]',
                            rows: "10",
                            languages: languages,
                            questionLanguage: questionLanguage
                        } only
                    %}
                        {% block text %}
                            <div class="flex items-center">
                                <span>
                                    {%trans%}question-code-form.codesolution{%endtrans%}
                                </span>
                                <div class="ml-auto">
                                    {% embed "components/ct-input.php.twig"
                                        with {
                                            label: "Language",
                                            name: 'question[question_language]',
                                            hideLabel: true,
                                            languages: languages,
                                            questionLanguage: questionLanguage
                                        } only
                                    %}
                                        {% block input %}
                                            <select id="typeSelect" name="question[question_language]" style="background: #fff;" id="questionLanguagee">
                                                {% for index, language in languages %}
                                                    <option value="{{ index }}" {{ question.getQuestionLanguage() == index ? "selected" : "" }} . >{{ language.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
            {% endif %}
            {% if main.getType() == '0' %}
                <div class="w-full mb-2 flex flex-wrap gap-2 justify-between">
                    <div class="w-8/12">
                        {% embed "components/ct-input.php.twig"
                            with {
                                label: "question-sql-form.questiondatabase"|trans,
                                name: 'question[question_database]',
                                id: 'questionDatabase',
                            } only
                        %}
                        {% endembed %}
                    </div>
                    <div class="w-3/12">
                        {% embed "components/ct-input.php.twig"
                            with {
                                label: "question-sql-form.questiontype"|trans,
                                name: 'question[question_sql_type]',
                                id: 'questionType',
                                sqlTypes: main.getTypeProperty('sqlTypes', type),
                                question: question,
                            } only
                        %}
                            {% block input %}
                                <select name="question[question_sql_type]" id="questionType">
                                    {% for sqlType in sqlTypes %}
                                        <option value="{{ sqlType }}" {{ question.getQuestionType() == sqlType ? "selected" : "" }} .>{{ sqlType }}</option>
                                    {% endfor %}
                                </select>
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="w-full mt-4">
                    {% set question = newQuestion %}
                    {% embed "components/ct-textarea.php.twig"
                        with {
                            label: "question-sql-form.questionsolution"|trans,
                            name: 'question[question_solution]',
                            rows: "8",
                            dbConnections: main.getTypeProperty('dbConnections', type),
                            placeholder: "SELECT * FROM mytable WHERE name = 'myname'"
                        } only
                    %}
                        {% block text %}
                            <div class="flex items-center">
                                <span>
                                    {%trans%}question-sql-form.questionsolution{%endtrans%}
                                </span>
                                <div class="ml-auto">
                                    {% embed "components/ct-input.php.twig"
                                        with {
                                            label: "Question DBMS",
                                            name: 'question[question_language]',
                                            hideLabel: true,
                                            dbConnections: dbConnections,
                                        } only
                                    %}
                                        {% block input %}
                                            <select name="question[question_dbms]" style="background: #fff;" id="questionDBMS">
                                                {% for index, dbms in dbConnections %}
                                                    <option value="{{ index }}" {{ question.getQuestionDbms() == index ? "selected" : "" }} .>{{ dbms.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { label: "question-sql-form.questionprobe"|trans, name: 'question[question_probe]' } only
                    %}
                    {% endembed %}
                </div>
                <div class="w-full mt-4">
                    {% embed "components/ct-textarea.php.twig"
                        with { label: "question-sql-form.databaseonfly"|trans, name: 'question[question_onfly]' } only
                    %}
                    {% endembed %}
                </div>
            {% endif %}
            <div class="w-full mt-4">
                {% embed "components/ct-textarea.php.twig"
                    with { label: "new-question-form.mustcontainseparatedlines"|trans, name: 'question[question_must]', rows: "1" } only
                    %}
                {% endembed %}
            </div>
            <div class="w-full mt-4">
                {% embed "components/ct-textarea.php.twig"
                    with { label: "new-question-form.shouldntcontain"|trans, name: 'question[question_musnt]', rows: "1" } only
                    %}
                {% endembed %}
            </div>
            <div class="w-full">
                <div class="flex items-center justify-end py-3 mt-3 gap-3">
                    <button type="button" class="btn btn-success" onclick="showNewQuestionRow()">  <span aria-hidden="true" class="fa fa-fw fa-save"></span>
                        {%trans%}create-question-modal.save-question{%endtrans%}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span aria-hidden="true" class="fa fa-fw fa-times"></span>
                        {%trans%}create-question-modal.cancel-question{%endtrans%}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
