<label for="exerciseType" class="labelForm">{%trans%}exercise-sql-form.exercisetype{%endtrans%}</label>
<select name="exercise[exercise_sql_type]" class="form-control select" id="exerciseType">
    {% for sqlType in main.getProperty('sqlTypes') %}
    <option value="{{ sqlType }}" {{ exercise.getExerciseType() == sqlType ? "selected" : "" }} .>{{ sqlType }}</option>
    {% endfor %}
</select>
<label for="exerciseDBMS" class="labelForm">{%trans%}exercise-sql-form.exerciseDBMS{%endtrans%}</label>

<select name="exercise[exercise_dbms]" class="form-control select" id="exerciseDBMS">
    {% for index, dbms in main.getProperty('dbConnections') %}
    <option value="{{ index }}" {{ exercise.getExerciseDbms() == index ? "selected" : "" }} .>{{ dbms.name }}</option>
    {% endfor %}
</select>
<div style="display: inline-block">
    <label for="exerciseDatabase" class="labelForm">{%trans%}exercise-sql-form.exercisedatabase{%endtrans%}</label>
    <input class="inputStyle" type="text" name="exercise[exercise_database]" value="{{ exercise.getExerciseDatabase() }}">
</div>
</br>
<label for="exerciseSolution" class="labelForm">{%trans%}exercise-sql-form.exercisesolution{%endtrans%}</label>
<textarea class="form-control" id="exerciseSolution" name="exercise[exercise_solution]" rows="4" placeholder="Select * from test;" required>{{ exercise.getExerciseSolution() }}</textarea>
<label for="exerciseProbe" class="labelForm">{%trans%}exercise-sql-form.exerciseprobe{%endtrans%}</label>
<textarea class="form-control" name="exercise[exercise_probe]" rows="4">{{ exercise.getExerciseProbe() }}</textarea>
<label for="exerciseOnfly" class="labelForm">{%trans%}exercise-sql-form.databaseonfly{%endtrans%}</label>
<textarea class="form-control" name="exercise[exercise_onfly]" rows="4">{{ exercise.getExerciseOnfly() }}</textarea>