{% set exerciseId = exercise.getExerciseId() %}
{% if exercise.getExerciseNum() %}
    {% set exerciseNum = exercise.getExerciseNum() %}
{% endif %}
<div id="exerciseAnswer{{ exerciseId }}">
    <h2 class="small-hdr {{ exerciseNum == 1 ? 'hdr-notop-mrgn' : '' }}">
        <small>{%trans%}student-exercise.exercise{%endtrans%} {{ exerciseNum }}</small>
    </h2>
    {% autoescape false %}
    
    <span class="exerciseTitle"> {{ exercise.getTitle() }}</span>
    {% endautoescape %}
    {#    {% if not answer or (not answer.getAnswerId() > 0) or (not answer.getAnswerSuccess()) %} #}
    <form id="answerForm{{ exerciseId }}" action="actions/AnswerExercise.php"
          method="post">

   {{ include (CFG.CT_Types.studentsPath ~ main.getTypeProperty('studentView', exercise.getType())) }}
     <div>
        {% if exercise.getExerciseMust() %}
            <h4>{%trans%}student-exercise.solutionmustcontain{%endtrans%}</h4>
            <pre>{{ exercise.getExerciseMust()|nl2br }}</pre>
        {% endif %}
        {% if exercise.getExerciseMusnt() %}
            <h4>{%trans%}student-exercise.solutionshouldntcontain{%endtrans%}</h4>
            <pre>{{ exercise.getExerciseMusnt()|nl2br }}</pre>
        {% endif %}
    </div>

            <input type="hidden" name="exerciseId" value="{{ exerciseId }}">
            <div class="form-group">
                <label for="answerText{{ exerciseId }}">{%trans%}student-exercise.yoursolutionis{%endtrans%}:</label>
                <textarea class="form-control" id="answerText{{ exerciseId }}"
                          name="answerText" rows="5"></textarea>
            </div>
            <button type="button" class="btn btn-success"
                    onclick="answerExercise('{{ exerciseId }}','{{exerciseNum}}')">{%trans%}student-exercise.submit{%endtrans%}
            </button>
        </form>
    {# {% endif %} #}
        <div class="h4 inline flx-cntnr flx-row flx-nowrap flx-start exercise-row">
            <div class="flx-grow-all exercise-solution">
                <h4>{%trans%}student-exercise.answer{%endtrans%}:</h4>
                <pre id="answerSavedText">{{ answer.getAnswerTxt() }}</pre>
            </div>
            <div class="flx-grow-all exercise-text">
                 <p id="modified"></p>
                <span id="answerIcon{{ exerciseId }}" aria-hidden="true" class="fas fa-thumbs-{{answer.getAnswerSuccess() ? 'up' : 'down'}} text-success"></span>
            </div>
        </div>
    <script>
      function updateDate() {
        updateDate( '{{ answer.getModified() |date("D M d Y H:i:s O") }}');
      }
      window.onload = updateDate;
    </script>

    {% if exercises|first.getExerciseNum() != exerciseNum %}
        <a href="student-home.php?exerciseNum={{exerciseNum-1}}" class="btn buttonNextPrev">
            {{ 'student-exercise.previous'|trans|upper }}
        </a>
    {% endif %}
    {% if exercises|length != exerciseNum   %}
        <a href="student-home.php?exerciseNum={{exerciseNum+1}}" class="btn buttonNextPrev">
            {{ 'student-exercise.next'|trans|upper }}
        </a>
    {% endif %}
</div>

