{% set exerciseId = exercise.getExerciseId() %}
{% if exercise.getExerciseNum() %}
    {% set exerciseNum = exercise.getExerciseNum() %}
{% endif %}
<div class="student-view-exercise" id="exerciseAnswer-{{ exerciseId }}">
    <form id="answerForm{{ exerciseId }}" action="actions/AnswerExercise.php" method="post">
        <input type="hidden" name="exerciseId" value="{{ exerciseId }}">
        <div class="student-header">
            <div class="exerciseTitle bg-cristal" title="{{exercise.getTitle()}}">
                {{ exercise.getTitle() }}
            </div>
            <div class="ex-statement">
                <pre class="bg-[#ffffff8c] backdrop-filter backdrop-blur-lg hover:bg-white transition-colors h-[500px] whitespace-normal">{{exercise.getStatement()|raw}}</pre>
            </div>
        </div>

        {% if exercise.getExerciseMust() or exercise.getExerciseMusnt() %}
            <div class="w-full mt-4">
                {% embed "components/ct-textarea.php.twig"
                    with {
                        label: "new-exercise-form.labels.restrictions"|trans,
                        name: '',
                        exercise: exercise
                    } only
                    %}
                    {% block input %}
                        <div class="p-0 flex gap-10 items-stretch">
                            <div class="flex-grow w-[50%]">
                                <div class="text-center">
                                    {%trans%}
                                        student-exercise.solutionmustcontain
                                    {%endtrans%}
                                </div>
                                <pre class="min-h-[150px]">{{ exercise.getExerciseMust() }}</pre>
                            </div>
                            <div class="flex-grow w-[50%]">
                                <div class="text-center">
                                    {%trans%}
                                        student-exercise.solutionshouldntcontain
                                    {%endtrans%}
                                </div>
                                <pre class="min-h-[150px]">{{ exercise.getExerciseMusnt() }}</pre>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endif %}

        {%
            include (CFG.CT_Types.studentsPath ~ main.getTypeProperty('studentView', exercise.getType()))
            with { inputValue: testsObj.inputValue, outputValue: testsObj.outputValue }
        %}

        <div class="w-full mt-4 mb-3">
            {% set languages = main.getTypeProperty('codeLanguages') %}
            {% set exerciseLanguage = exercise.getExerciseLanguage() %}
            {% embed "components/ct-textarea.php.twig"
                with {
                    label: "exercise-code-form.codesolution"|trans,
                    name: 'answerText',
                    rows: "10",
                    id: "answerText" ~ exerciseId,
                    value: answer.getAnswerTxt(),
                    labelFor: "answerText" ~ exerciseId,
                    languages: languages,
                    answerLanguage: answer.getAnswerLanguage(),
                    exerciseLanguage: exercise.getExerciseLanguage()
                } only
            %}
                {% block text %}
                    <div class="flex items-center">
                        <span>
                            {%trans%}exercise-code-form.codesolution{%endtrans%}
                        </span>
                        <div class="ml-auto">
                            {% embed "components/ct-input.php.twig"
                                with {
                                    label: "Language",
                                    name: 'answer_language',
                                    id: 'answerLanguage',
                                    hideLabel: true,
                                    languages: languages,
                                    exerciseLanguage: exerciseLanguage,
                                    answerLanguage: answerLanguage,
                                } only
                            %}
                                {% block input %}
                                    <select id="typeSelect" name="answer_language" style="background: #fff;" id="answerLanguage">
                                        {% for index, language in languages %}
                                            <option
                                                value="{{ index }}"
                                                {{ answerLanguage is defined ? (answerLanguage == index ? "selected" : "") : (exerciseLanguage == index ? "selected" : "") }}
                                            >{{ language.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endblock %}
                            {% endembed %}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="w-full mt-4">
            {% embed "components/ct-textarea.php.twig"
                with {
                    label: "student-exercise.answer-output"|trans,
                    name: '',
                    exercise: exercise,
                    answer: answer
                } only
                %}
                {% block input %}
                    <div class="answer-output">
                        <pre class="min-h-[150px] border-0 -mx-1">{{ answer.getAnswerOutput() }}</pre>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="student-footer mt-4">
            <div class="flex-grow">
                <div class="h4 flex flx-cntnr flx-row flx-nowrap flx-start exercise-row mt-0 mb-5">
                    <div class="flex-grow exercise-solution overflow-auto p-0">
                        <h4>{%trans%}student-exercise.answer{%endtrans%}:</h4>
                        <pre id="answerSavedText" class="min-h-[80px] !whitespace-pre">{{ answer.getAnswerTxt() }}</pre>
                    </div>
                    <div class="flex flex-col gap-1 flex-shrink exercise-text pt-[30px]">
                        <i id="modified"></i>
                        <div class="border-t border-blueGray-300">
                        </div>
                        <div class="flex items-center justify-between gap-2">
                            <span>
                                {{ (answer.getAnswerTxt()|length > 0 ? (answer.getAnswerSuccess() ? 'student-exercise.correct' : 'student-exercise.incorrect') : 'student-exercise.blank')|trans }}
                            </span>
                            {% embed "components/answer-info-box.php.twig" with { answer: answer } only %}
                            {% endembed %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-3">
        <div class="flex gap-4 items-center student-footer-buttons">
            <div class="mr-auto flex items-center">
                <a
                    href="student-home.php?exerciseNum={{exerciseNum-1}}"
                    {% if exercises|first.getExerciseNum() == exerciseNum %}disabled{% endif %}
                    class="btn buttonNextPrev m-0 mr-5 flex items-center gap-3 min-w-[125px] justify-around"
                >
                    <i class="fa fa-caret-square-o-left mt-px text-[21px]" aria-hidden="true"></i>
                    <span class="mr-2">
                        {{ 'student-exercise.previous'|trans|upper }}
                    </span>
                </a>
                <a
                    href="student-home.php?exerciseNum={{exerciseNum+1}}"
                    {% if exercises|length == exerciseNum %}disabled{% endif %}
                    class="btn buttonNextPrev m-0 mr-5 flex items-center gap-3 min-w-[125px] justify-around"
                >

                    <span class="ml-2">
                        {{ 'student-exercise.next'|trans|upper }}
                    </span>
                    <i class="fa fa-caret-square-o-right mt-px text-[21px]" aria-hidden="true"></i>
                </a>
            </div>
            <div>
                <button type="button" class="btn btn-success flex items-center justify-center gap-3 min-w-[125px]" onclick="answerExercise('{{ exerciseId }}','{{exerciseNum}}')">
                    <span class="ml-1 mr-1">
                        {%trans%}student-exercise.submit{%endtrans%}
                    </span>
                    <i class="fa fa-paper-plane text-[16px] mb-[2px]" aria-hidden="true"></i>
                </button>
            </div>
        </div>


    </form>
    <script>
      function updateDate() {
        updateDate( '{{ answer.getModified() |date("D M d Y H:i:s O") }}');
      }
      window.onload = updateDate;
    </script>
</div>
